{% extends 'base.html.twig' %}

{% block title %}AirMetrics | Environmental Narrative{% endblock %}

{% block stylesheets %}
<link href="https://fonts.googleapis.com/css2?family=Clash+Display:wght@400;500;600;700&family=Cabinet+Grotesk:wght@400;500;700;800;900&family=DM+Mono:wght@300;400;500&display=swap" rel="stylesheet">
{% include 'home/_styles.html.twig' %}
{% endblock %}

{% block body %}

{# Ambient Background #}
<div id="ambient-bg">
    <div class="mesh-blob"></div>
    <div class="mesh-blob"></div>
    <div class="mesh-blob"></div>
</div>
<canvas id="particle-canvas"></canvas>

{% include 'home/_header.html.twig' %}

<main>
    {% include 'home/_hero.html.twig' %}
    {% include 'home/_map.html.twig' %}
</main>

{% include 'home/_panel.html.twig' %}
{% include 'home/_bottom_nav.html.twig' %}
{% include 'home/_scripts.html.twig' %}

{% endblock %}
