###> symfony/framework-bundle ###
# Le vrai secret sécurisé est injecté par Docker. On met une valeur par défaut ici.
APP_ENV=prod
APP_SECRET=ChangeMeIfRunningLocallyWithoutDocker
APP_SHARE_DIR=var/share
###< symfony/framework-bundle ###

###> symfony/routing ###
DEFAULT_URI=http://localhost
###< symfony/routing ###

###> doctrine/doctrine-bundle ###
# ATTENTION : La vraie DATABASE_URL (PostgreSQL Master) est injectée dynamiquement par docker-compose.yml. Ne pas décommenter.
# DATABASE_URL="sqlite:///%kernel.project_dir%/../data/air_quality.db"
###< doctrine/doctrine-bundle ###

###> symfony/messenger ###
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
###< symfony/messenger ###

###> symfony/mailer ###
MAILER_DSN=null://null
###< symfony/mailer ###

###> symfony/ux-leaflet-map ###
UX_MAP_DSN=leaflet://default
###< symfony/ux-leaflet-map ###
